{% extends "transactions/base.html" %}
{% block title %}{{category.name}}{% endblock %}
{% block content %}
    {% if category %}
        <h1 class='niceTitle'>Listado de transacciones de la categoria {{category.name}}</h1>
        <ul>
        {% if transactions %}
            {% for transaction in transactions  %}
                <li>{{transaction.date}} {{transaction.amount}} {{transaction.note}}</li>    
            {% endfor %}
        {% else %}
            <p><strong>No hay transacciones para esta categoría</strong></p>
        {% endif %}
        </ul>
    {% endif %}
    <br>
    <a href="{% url 'transactionsApp:details_category' category.id %}" class='bright'>Consultar las transacciones</a>
{% endblock %}